# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
.gpp_path.txt
.m0build/
.m05build/
.m1build/
.m2build/
.m3build/

software/
build-*/
.picocalc-rp2350-build/
.picocalc-rp2040-build/
