# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
.iigs_host.exe
.gpp_path.txt
.m0build/
.m05build/
.m1build/
.m2build/
/src/iigs/iigs_rom01.cpp
.m3build/
.iigsbuild/
